/*
  CSS grid scaffolding provided by Erin Brown.
  http://github.com/umiami-web-design/grid-templates
*/

body {
  font-family: 'Barlow Condensed', sans-serif;
  color: rgba(33, 74, 123, 1.0);
}

img {
        position: relative;
        border: 5px solid rgb(33,74,123);
        max-width: 650px;
        min-width: 360px;
      }

a {
  color: rgb(86,147,94);
  text-decoration: none;
}

a:visited {
  color: rgb(75,35,111);
}

a:hover {
  color: rgb(111,192,154);
  background-color: rgb(25,64,141);
    text-decoration: underline;
}

a:active {
  color: rgb(209,23,23);
}

p {
  line-height: 1.5;
  color: black;
}

em{
  font-style: normal;
  font-weight: bold;
}

strong {
  font-style: italic;
  font-weight: normal;
}

em,
strong {
  color: black;
}

ul {
  list-style-type: circle;
}

header h1 {
    font-size: 72px;
}

footer {
  background-color: #ccc
}

footer p {
  color: #222;
}

.highlighted {
    background-color: rgb(247,207,95);
}

#wrapper {
        max-width: 960px;
        margin: 0 auto;
      }
    }
.grid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 200px;
            grid-auto-rows: auto;
            grid-gap: 10px;
            position: relative;
            font-family: 'PT Sans', sans-serif;
            margin-bottom: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
#content {
  margin: 50px;
  font-size: 20px;
          }
#education {
  font-size: 25px;
}
#experience {
  font-size: 25px;
}
#skills {
  font-size: 25px;
}
#websites {
  font-size: 25px;
}
#name {
  position: relative;
  text-align: center;
}
